/* Carousel Unit */
.projects-carousel {
  padding: 0;
  position: absolute;
  transform: translateX(-50%) translateY(-130%);
  left: 50%;
  bottom: 0;
  border: solid black 5px;
  /* margin: 85px auto 10px auto; */
  margin: 10px auto;
  max-width: 500px;
  max-height: calc(900 / 1600 * 500px);
  min-width: 350px;
  min-height: calc(900 / 1600 * 350px);
  height: 20vh;
  width: calc(1600 / 900 * 20vh);
  z-index: 1;
  transition: transform 500ms ease-in-out, height 500ms ease-in-out, width 500ms ease-in-out, left 500ms ease-in-out, bottom 500ms ease-in-out;
}

.names-track-container {
  overflow: hidden;
  border-width: 5px;
  box-shadow: inset 0 0 1em 0 var(--clr-neon-a), 0 0 1em 0.5em var(--clr-neon-a);
  border-radius: 0;
}

.names-track {
  background: transparent;
  height: var(--fs-h3);
  padding: 0;
  margin: 5px;
  list-style: none;
  transition: transform 250ms ease-in-out;
}

.slide-name {
  background: transparent;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

/* Carousel Track Unit */
.carousel-track-container {
  background-color: var(--clr-bg);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in-out;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.current-slide {
  opacity: 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Carousel Buttons */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 5em;
  z-index: 5;
  transition: transform 500ms ease-in-out, left 500ms ease-in-out, bottom 500ms ease-in-out,
    top 500ms ease-in-out, right 500ms ease-in-out;
}

.carousel-left {
  left: -60px;
}

.carousel-right {
  right: -60px;
}

/* Carousel Nav */
.carousel-nav {
  /* background-color: pink; */
  background-color: transparent;
  display: flex;
  display: none;
  justify-content: center;
  margin: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--clr-bg);
  margin: 10px 12px;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background-color: var(--clr-accent);
}

.is-hidden {
  display: none;
}

.expand-carousel {
  cursor: pointer;
  position: absolute;
  inset: 0;
  border: none;
  background: transparent;
  z-index: 10;
}

.carousel-background {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  transition: width 500ms ease-in-out, height 500ms ease-in-out;
}

.carousel-background-active {
  width: 150vw;
  height: 150vh;
}

.big {
  position: fixed;
  max-width: 100vw;
  max-height: calc(900/1600 * 100vw);
  margin: 0;
  padding: 0;
  bottom: calc(100vh - 100%);
  left: 50%;
  transform: translate(-50%, 50%);
}

@media screen and (orientation: portrait) {
  .big {
    width: 90vw;
    height: calc(900/1600 * 90vw);
  }

  .big>.carousel-button {
    position: fixed;
    top: 115%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 5em;
  }

  .big>.carousel-left {
    left: 50%;
    transform: translateX(-150%);
  }

  .big>.carousel-right {
    right: 50%;
    transform: translateX(150%);
  }
}

@media screen and (orientation: landscape) {
  .big {
    width: 80vw;
    height: calc(900/1600 * 80vw);
  }
}

@media screen and (max-width: 650px) {

  .carousel-button {
    position: absolute;
    top: 115%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 5em;
  }

  .carousel-left {
    left: 50%;
    transform: translateX(-150%);
  }

  .carousel-right {
    right: 50%;
    transform: translateX(150%);
  }
}

@media screen and (max-height: 860px) {

  .projects-carousel {
    width: 500px;
    height: calc(900 / 1600 * 500px);
    transform: none;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    transition: transform 500ms ease-in-out, height 500ms ease-in-out, width 500ms ease-in-out, left 500ms ease-in-out, top 500ms ease-in-out;
  }

  .big {
    position: fixed;
    width: 80vw;
    height: calc(900/1600 * 80vw);
    max-width: 100vw;
    max-height: calc(900/1600 * 100vw);
  }
}