/* Carousel Unit */
.projects-carousel {
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 100px;
  height: calc(45vw * 900 / 1600);
  width: 100%;
  transition: transform 500ms ease-in-out, width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
}

.names-track-container {
  background-color: var(--clr-bg);
  overflow: hidden;
}

.names-track {
  height: var(--fs-h3);
  padding: 0;
  margin: 5px;
  list-style: none;
  transition: transform 250ms ease-in;
}

.slide-name {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  transition-delay: 250ms;
}

/* Carousel Track Unit */
.carousel-track-container {
  border: solid black 5px;
  height: calc(100% - var(--fs-h3) - 10px);
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.current-slide {
  opacity: 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Carousel Buttons */
.carousel-button {
  margin: 5px 20px;
  font-size: 2em;
  background: transparent;
  border: 0;
  cursor: pointer;
}

/* Carousel Nav */
.carousel-nav {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 12px;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  display: initial;
  background-color: rgba(0, 0, 0, 0.75);
}

.expand-carousel {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 10%;
  width: 10%;
  border: none;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
  letter-spacing: 0px;
  transition: letter-spacing 100ms ease-in-out;
}

.expand-carousel:hover,
.expand-carousel:focus-visible {
  letter-spacing: 3px;
}

.carousel-background {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  transition: width 500ms ease-in-out, height 500ms ease-in-out;
}

.carousel-background-active {
  width: 150vw;
  height: 150vh;
}

.big {
  position: fixed;
  width: 80vw;
  height: calc(900/1600 * 80vw);
  max-width: 100vw;
  max-height: calc(900/1600 * 100vw);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.big>.carousel-button {
  font-size: 5em;
}

@media screen and (max-width: 900px) {

  /* Carousel Unit */
  .projects-carousel {
    padding: 0;
    position: relative;
    border: solid black 5px;
    margin-bottom: 100px;
    height: calc(90vw * 900 / 1600);
    width: 100%;
  }

  .big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: calc(900/1600 * 90vw);
    z-index: 2;
  }
}